name: Check

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Set up Node.js using mise
        uses: jdx/mise-action@v3

      - name: Install dependencies
        run: pnpm install

      - name: Lint
        run: pnpm lint

  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Set up Node.js using mise
        uses: jdx/mise-action@v3

      - name: Install dependencies
        run: pnpm install

      - name: Build
        run: pnpm build
