name: Publish

on:
  push:
    branches:
      - main

permissions:
  id-token: write  # Required for OIDC
  contents: read

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Check version changes
        uses: EndBug/version-check@v2
        id: check
      
      - name: Set up Node.js using mise
        uses: jdx/mise-action@v3
      
      - name: Install dependencies
        run: pnpm install
      
      - name: Build
        run: pnpm build

      - name: Create Git Tag
        if: steps.check.outputs.changed == 'true'
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"

          git tag -a "v${{ steps.check.outputs.version }}" -m "Release v${{ steps.check.outputs.version }}"
          git push origin "v${{ steps.check.outputs.version }}"

      - name: Create GitHub Release
        if: steps.check.outputs.changed == 'true'
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: v${{ steps.check.outputs.version }}
          name: Release v${{ steps.check.outputs.version }}
          generate_release_notes: true

      - name: Publish to npm
        if: steps.check.outputs.changed == 'true'
        run: pnpm publish --provenance
